<!DOCTYPE html>
<html>
<head>
    <title>비행기 예약</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<script>
</script>


<body>
    <h1>R'way</h1>
    
    <!-- 출발지 및 도착지 선택 부분 -->
    <div class="flight-select">
        <div>
            <label for="departure">출발지</label>
            <select id="departure" name="departure">
                <option value="풍동">풍동</option>
            </select>
        </div>
        <i class="fas fa-plane"></i><!-- 비행기 아이콘 -->
    </div>

    <div class="flight-select">
        <div>
            <label for="destination">도착지</label>
            <select id="destination" name="destination">
                <option value="로다월드">로다월드</option>
            </select>
        </div>
        <i class="fas fa-plane"></i><!-- 비행기 아이콘 -->
    </div>

    <!-- 예약 폼 -->
    <form id="reservation-form" method="POST" action="/" enctype="multipart/form-data"> <!-- 이미지 업로드를 위한 enctype 추가 -->
        <label for="name">이름</label>
        <input type="text" id="name" name="name" required><br>

        <label for="english_name">영문 이름</label>
        <input type="text" id="english_name" name="english_name"><br>

        <label for="baptism_name">세례명</label>
        <input type="text" id="baptism_name" name="baptism_name"><br>

        <label for="grade">학년</label>
        <input type="text" id="grade" name="grade"><br>

        <label for="phone_number">전화번호</label>
        <input type="tel" id="phone_number" name="phone_number" required><br>

        <label for="image">여권 사진 업로드</label> <!-- 이미지 업로드 필드 레이블 추가 -->
        <input type="file" id="image" name="image" accept="image/*" required><br> <!-- 이미지 업로드 필드 추가 -->

        <input type="submit" value="예약">
    </form>
</body>
</html>
